body {
  padding: 0;
  margin: 0;
}

.container {
  background-image: url("https://images.unsplash.com/photo-1491904768633-2b7e3e7fede5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fG1vdW50YWluc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");

  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.img img {
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.first-corousel {
  display: flex;
  justify-content: space-around;
}

.title {
  width: 40%;
}

.list {
  color: white;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.list li {
  border-bottom-style: ridge;
}

.img1 img {
  padding: 2px;
  width: 50px;

  border-radius: 40px;

  background-color: rgb(88, 87, 87);
}

.heading h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(6, 6, 34);
}

.heading a {
  color: rgb(29, 28, 28);
}

.heading {
  width: 10px;
}

.second-nav {
  width: 35%;
  justify-content: space-evenly;
  display: flex;
  padding: 50px;
}

.title1 {
  width: 45%;
  padding: 50px;
}

.list1 {
  color: rgb(29, 28, 28);
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.list1 li {
  border-bottom-style: ridge;
}

.second-corousel {
  display: flex;
}

.second2-corousel {
  width: 100%;

  margin-top: -30px;
  background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG1vdW50YWlufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.outer-bottom {
  background: rgba(65, 66, 65, 1.6);
  opacity: 70%;
}

.bottom {
  margin: 226px auto 0px auto;

  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.bottom img {
  margin-top: 10px;
  width: 200px;
  margin-bottom: 10px;
}

.second2-corousel .number h1 {
  font-size: 100px;

  color: rgb(80, 80, 95);
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.second2-corousel .heading h1 {
  margin-top: 100px;

  color: rgb(35, 35, 63);
  font-size: 30px;
}

.top {
  display: flex;
  height: 160px;
  text-align: center;
}

.second2-corousel .para {
  margin: 0px 100px 0px 160px;

  justify-content: center;
}
.second2-corousel .para p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgb(80, 80, 95);
}

.dots {
  display: flex;
  gap: 0.75rem;

  width: fit-content;
  margin: auto;
  opacity: 70%;
}

.dots button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.second2-carousel-para {
  width: 80%;
  margin: auto;
}

.top-div .number h1 {
  font-size: 100px;

  color: rgb(80, 80, 95);
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.top-div .heading h1 {
  margin-top: 100px;

  color: rgb(35, 35, 63);
  font-size: 30px;
}

.top-div .para p {
  margin-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgb(80, 80, 95);
}

.top-div .para {
  margin-left: 130px;
}

.top-div {
  display: flex;
  width: 80%;
  margin: auto;
}

.middle-div {
  background-color: rgb(7, 7, 34);
  display: flex;
  margin-top: -60px;
  /* margin: auto; */
}

.heading1 h1 {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.heading1 {
  background-color: rgb(68, 65, 65);
  margin-left: 200px;
  width: 9%;
  text-align: center;
}

.heading2 h1 {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.heading2 {
  color: rgb(68, 65, 65);
  margin-left: 10px;
  width: 9%;
  text-align: center;
}

.sub-middle-div {
  background: url("https://media.istockphoto.com/id/1084564042/photo/birds-flock-flying-over-river-and-hills-on-blue-sky-on-sunset.webp?b=1&s=170667a&w=0&k=20&c=xrUwVZiekJGVA1RCSwtiY9cso3lWFydp9jZ_X2o62qM=");
  margin-top: -23px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-middle-div .inner-div {
  background-color: aliceblue;

  width: 20%;
}

.both-div {
  display: flex;
}

.left-div ul {
  list-style: none;
}

.right-div ul {
  list-style: none;
}

.left-div li {
  font-size: 12px;
}

.right-div li {
  font-size: 12px;
}

.inner-div {
  margin: 0px 0px 0px 240px;
}
